.body {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    var(--color-blue),
    var(--color-pink)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 120rem;
  height: 66rem;
  margin-top: 6rem;
  background-color: white;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.left,
.right {
  flex-basis: 50%;
}

.main_image {
  width: 100%;
  height: 100%;
  border-radius: 30px 0 0 30px;
}

.right {
  padding: 5rem;
}

.title {
  font-size: var(--font-size-little-title);
  color: rgba(0, 0, 0, 0.8);
}

.subtitle {
  font-size: var(--font-size-normal);
  font-weight: 400;
  color: rgba(50, 50, 50, 0.6);
  margin-bottom: 4rem;
}

.signup_form p {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8rem;
}

.signup_form label {
  font-size: var(--font-size-normal);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.signup_form input {
  height: 4.4rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  font-size: var(--font-size-normal);
  padding: 0.6rem;
}

.signup_form input:focus {
  outline: none;
  border: 2px solid var(--color-blue);
  box-shadow: 0 0 2px var(--color-blue);
}

.submit_button {
  width: 100%;
  height: 5rem;
  outline: none;
  border: none;
  background-color: var(--color-blue);
  color: white;
  font-size: var(--font-size-big);
  font-weight: 700;
  border-radius: 8px;
  margin-top: 2rem;
}

.email_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.email {
  width: 80%;
}

.auth_button {
  width: 18%;
  border-radius: 8px;
  border: none;
  background-color: var(--color-blue);
  font-size: var(--font-size-bit-small);
  font-weight: 500;
  color: white;
}
