.article_list {
  width: 70%;
  min-width: 120rem;
  min-height: 85vh;
  height: auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 32px;
  display: flex;
  flex-direction: row;
}

.latest_box {
  width: 65%;
  padding: 6rem 3rem 6rem 5rem;
}

.hot_box {
  width: 35%;
  padding: 6rem 5rem 6rem 0;
}

.article_list h1 {
  font-size: var(--font-size-bit-big);
  color: rgb(50, 50, 50);
  margin-bottom: 2rem;
}

.long_box {
  margin-top: 2rem;
}

.short_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
}
