.body {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    var(--color-blue),
    var(--color-pink)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  width: 100rem;
  height: 66rem;
  margin-top: 6rem;
  background-color: white;
  border-radius: 32px;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  position: relative;
}

.left {
  width: 47%;
  position: relative;
}

.deco {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;

  position: absolute;
}

.deco:nth-of-type(1) {
  top: 10rem;
  left: 10rem;
  background-color: var(--color-pink);
  box-shadow: 1px 1px 10px var(--color-pink);
  opacity: 0.8;
}

.deco:nth-of-type(2) {
  top: 25rem;
  left: 25rem;
  background-color: var(--color-green);
  box-shadow: 1px 1px 10px var(--color-green);

  opacity: 0.8;
}

.deco:nth-of-type(3) {
  top: 40rem;
  left: 13rem;
  background-color: var(--color-blue);
  box-shadow: 1px 1px 10px var(--color-blue);
  opacity: 0.8;
}

.login form {
  width: 53%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  padding-left: 0;
  margin-bottom: 3.5rem;
}

.title {
  font-size: var(--font-size-little-title);
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 1.8rem;
}

.login_input {
  width: 80%;
  height: 5rem;
  margin: 0.7rem 0;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.115);
  border-radius: 12px;
  font-size: var(--font-size-bit-big);
  padding: 0 1.5rem;
  color: rgba(0, 0, 0, 0.7);
}

.submit_button {
  width: 80%;
  height: 5rem;
  outline: none;
  border: none;
  background-image: linear-gradient(
    to bottom right,
    var(--color-pink),
    var(--color-blue)
  );
  border-radius: 24px;
  margin-top: 1.4rem;
  color: white;
  font-size: var(--font-size-bit-big);
  font-weight: 700;
}

.forgot_pw {
  margin-top: 1rem;
  font-size: var(--font-size-bit-small);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.go_signup {
  position: absolute;
  bottom: 5rem;
  font-size: var(--font-size-bit-small);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
