:root {
  --font-size-small: 1.2rem;
  --font-size-bit-small: 1.4rem;
  --font-size-normal: 1.6rem;
  --font-size-bit-big: 1.8rem;
  --font-size-big: 2rem;
  --font-size-little-title: 3rem;
  --font-size-title: 4rem;
  --color-theme: rgb(196, 4, 82);
  --color-pink: #ff99c8;
  --color-yellow: #fcf6bd;
  --color-green: #d0f4de;
  --color-blue: #a9def9;
  --color-purple: #e4c1f9;
  --color-deep-blue: #3a86ff;
  --color-deep-purple: #8338ec;
  --color-deep-pink: #ff006e;
  --color-deep-red: #fb5607;
  --color-deep-yellow: #ffbe0b;
}
